/* -------------------------------------
 * Utilities classes
 * These are examples of utilities classes
 * Feel free to change them and create your own
 * ------------------------------------- */

// Paddings
.padded {
  padding-top: 5em;
  padding-bottom: 0em;
}

// Backgrounds
.bg-text {
  background: #4a4a4a;
}
.bg-email {
  background: #aeaeae;
}
.bg-twitter {
  background: #00a3e1;
}
.bg-facebook {
  background: #3b5998;
}

h1 {
  display: block;
  font-size: 8em;
  margin: auto;
  margin-top: 0.67em;
  margin-bottom: 0.67em;
  margin-left: 0;
  margin-right: 0;
  font-weight: bold;
  margin: 0;
}

h2{
  font-size: 2em;
}
a {
  color: #333333;
}
p {
  line-height: 24px ;
}

.bio {
  font-size: 2.2em;
  margin: auto;
  font-weight: bold;
  line-height: 3.7em;
}

.bio-text {
  display: block;
  font-size: 16px;
  line-height: 32px;
  margin-top: 0.67px;
  margin-bottom: 0.67em;
  text-align: justify;
  width: 750px;
}
.my-projects {
  margin: auto;
  width: 100%;
  text-align: justify;
}

.projects {
  font-size: 2.2em;
  margin: auto;
  font-weight: bold;
  line-height: 3.7em;
}


.horizontal-list {
  min-width: 696px;
  list-style: none;
  padding-top: 20px;
}
.horizontal-list li {
  display: inline;
}



