<div id="footer">
  <div class="container">
    <div class="row">
      <div class="col-xs-12">
        <ul class="list-inline text-center">
          <li><a href="https://github.com/jurthetauren">Blog</a></li>
          <li><a href="https://github.com/jurthetauren">Portfolio</a></li>
        </ul>
      </div>
    </div>
  </div>
</div>

<div id="footer">
  <div class="container">
    <div class="row">
      <div class="col-xs-12">
        <ul class="list-inline text-center">
          <li><a href="https://github.com/jurthetauren"><i class="fa fa-github"></i></a></li>
          <li><a href="https://nl.linkedin.com/in/juriaankarsten"><i class="fa fa-linkedin"></i></a></li>
          <li><a href="https://twitter.com/juriaankarsten"><i class="fa fa-twitter"></i></a></li>
        </li>
      </ul>
    </div>
  </div>
</div>
</div>

