---
title: Juriaan Karsten
---
<div class="container">
  <div class="row">
    <div class="col-xs-12 col-md-6 col-lg-12">
      <div class="welcome text-center padded">
        <h1>Juriaan....</h1>
        <h1>....Karsten</h1>
        <h2>Web designer/developer/startup founder</h2>
      </div>
    </div>
  </div>
</div>


<div class="container">
  <div class="row">
    <div class="col-xs-12 col-md-12 col-lg-12">
      <div class="bio-text text-center">
        <p class="bio">Bio</p>
        <p>This will contain a piece of text about me, what inspires me, what makes me happy, hippy shit for sure, since webpeoples like liberal and leftwinged stuff, oh and let us not forget the environment and polution. For the rest I do startup stuff. Created a small social media app, which flucked hard, to bad but I did learn many lessons. So basically I'm going around town helping others face the same difficulties I have come across and help them with that. Oh and basically I have a web prodeuct idea every week, some better than others, but hey I like it. And also, this text will need to be a certain length otherwise it will not look cool on the page so that is why im filling this page until the design looks awesome AF.
        </p>
      </div>
    </div>
  </div>
</div>

<div class="my-projects">
  <div class="container">
    <p class="projects">My Projects</p>
    <div class="row">
      <div class="col-xs-12 col-md-4 col-lg-4">
        <div>
          <h3 class="project"><a href="http://www.gograder.com">Grader App</a></h3>
          <p>At Grader we developed a free social media photo sharing app, specifically created for teenagers, with the main purpose being able as a user/follower/viewer to grade the photos of other users between a 1 and 10 scale.</p>
        </div>
      </div>

      <div class="col-xs-12 col-md-4 col-lg-4">
        <div>
          <h3 class="project"><a href="http://www.gograder.com">Skillswap.io</a></h3>
          <p>At skillswap we developed a corporate matching platform for "young urban porfessionals" to connect with co-workers that they otherwise would never have met within the same corporate building.</p>
        </div>
      </div>

      <div class="col-xs-12 col-md-4 col-lg-4">
        <div>
          <h3 class="project"><a href="http://www.gograder.com">ondemand.io</a></h3>
          <p>At Ondemand.io we developed a directory for the lazy and wealthy to instantly get to see what new economy companies they can use services from for a fraction of the price and time.</p>
        </div>
      </div>
    </div>
  </div>
</div>


<div class="my-projects">
  <div class="container">
    <div class="row">
      <div class="col-xs-12 col-md-4 col-lg-4">
        <div>
          <h3><a href="http://www.parkeagle.com">Parkeagle</a></h3>
          <p>Our company PARKEAGLE, develops smart parking sensors that communicate with an app to guides urban drivers to available parking spaces, don’t waste time driving in circles with PARKEAGLE.</p>
        </div>
      </div>
    </div>
  </div>
</div>
